[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-socketio = "*"
langchain = "*"
ollama = "*"
langchain-ollama = "*"
requests = "*"
cryptography = "*"
python-dotenv = "*"
langchain-community = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
